<h1 class="py-4 text-xs text-gray-700 uppercase font-bold">
    All Tasks
</h1>



<div class=" relative overflow-x-auto">

    <button (click)="addTask()">Add</button>

    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Title
                </th>
                <th scope="col" class="px-6 py-3">
                    Description
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let task of allTasks$ | async">
                <td>{{ task.title }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.title }}</td>
                <td>
                    <button>Delete</button>
                    <!-- <button (click)="deleteTask(task.id)">Delete</button> -->

                </td>
            </tr>

            <!-- <tr *ngIf="a .length <= 0">
                <td colspan="2" class="p-2">
                    No tasks found
                </td>
            </tr> -->
        </tbody>
    </table>
</div>